@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");
body,
html {
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  /* font-weight: 500; */
}
@media (max-width: 500px) {
  body,
  html {
    font-size: 14px;
  }
}
@media (min-width: 767px) and (max-width: 770px) {
  main > .container {
    max-width: 620px;
  }
}
@media (max-width: 769px) {
  .hidden-xs {
    display: none;
  }
}
@media (max-width: 769px) {
  .visible-xs {
    display: block !important;
  }
}
body,
html {
  background: #131326;
  background: -moz-linear-gradient(left, #131326 0%, #1f2e44 100%);
  background: -webkit-linear-gradient(left, #131326 0%, #1f2e44 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#131326),
    to(#1f2e44)
  );
  background: -o-linear-gradient(left, #131326 0%, #1f2e44 100%);
  background: linear-gradient(to right, #131326 0%, #1f2e44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131326', endColorstr='#1f2e44',GradientType=1 );
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  z-index: 2;
  position: relative;
}
@media screen and (max-width: 769px) {
    body {
        position: relative;
        height: auto;
    }
  main {
    padding: 250px 0 50px 0;
  }
}
@media (max-width: 530px) {
  main {
    padding-top: 200px;
    padding-bottom: 0;
  }
}
.relative {
  position: relative;
}
@media (min-width: 770px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}
@media (max-width: 769px) {
  .flex > .col-sm-6 {
    width: 100% !important;
  }
}
.vcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 630px) and (min-width: 380px) {
  .vcenter {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.info-container {
  max-width: 510px;
  margin-top: 0;
}
@media screen and (max-width: 769px) {
  .info-container {
    max-width: 590px;
    margin-top: 160px;
  }
}
@media (max-width: 380px) {
  .info-container {
    margin-top: 73px;
  }
}
p {
  color: #e8e8e8;
  line-height: 30px;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  letter-spacing: 0.6px;
    margin: 0 0 40px 0;
}
@media screen and (max-width: 1366px) {
  p {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}
@media screen and (max-width: 769px) {
  p {
    text-align: center;
    font-size: 17.5px;
    font-size: 1.09375rem;
    letter-spacing: 0.4px;
  }
}
@media (max-width: 380px) {
  p {
    font-size: 14px;
    font-size: 1rem;
    max-width: 290px;
    line-height: 25px;
    letter-spacing: 0.6px;
  }
}
a {
  color: #e8e8e8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 2px;
}
a:hover {
  color: white;
}
.logo {
  width: 100%;
  max-width: 320px;
  height: auto;
  margin: 0 0 2px -24px;
  display: inline-block;
}
@media screen and (max-width: 769px) {
  .logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 30px;
  }
}
@media (max-width: 380px) {
  .logo {
    margin-bottom: 25px;
  }
}
.misc {
  max-width: 315px;
  margin: 80px 0 80px auto;
  position: relative;
  right: -15px;
}
@media (min-width: 769px) {
  .misc {
    display: none;
  }
}
@media (max-width: 380px) {
  .misc {
    margin: 54px 0 85px auto;
    max-width: 320px;
    right: -21px;
    width: 100%;
  }
}
#clients {
  margin-top: 44px;
}
@media screen and (max-width: 769px) {
  #clients {
    text-align: center;
    margin-top: 72px;
  }
}
#clients ul {
  width: 438px;
  padding: 0;
  margin: 0 0 44px 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1250px) {
  #clients ul {
    width: 100%;
  }
}
@media screen and (max-width: 769px) {
  #clients ul {
    margin-bottom: 39px;
    max-width: 435px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 530px) {
  #clients ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 415px) {
  #clients ul {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
  }
}
#clients li {
  margin: 0 15px;
}
#clients li:first-child {
  margin-left: 0;
}
#clients li:last-child {
  margin-right: 0;
}
@media (max-width: 530px) {
  #clients li {
    margin: 15px 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: center;
  }
  #clients li img {
    margin: 0 auto;
  }
}
@media (max-width: 415px) {
  #clients li {
    padding: 0 10px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
#clients img {
  width: auto;
  display: block;
}
.clients-zepplin img {
  height: 35px;
}
.clients-stream img {
  position: relative;
  right: -4px;
  height: 40px;
}
@media screen and (max-width: 769px) {
  .clients-stream img {
    right: 0;
  }
}
@media (max-width: 415px) {
  .clients-decentraland {
    width: 100%;
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
    margin-top: 0 !important;
  }
  .clients-decentraland img {
    max-width: 150px;
  }
}
.clients-decentraland img {
  position: relative;
  top: -2px;
  right: -4px;
  height: 50px;
}
@media screen and (max-width: 769px) {
  .clients-decentraland img {
    height: 52px;
  }
}
.clients-equilibrium img {
  height: 30px;
}
.section-subtitle {
  color: #737884;
  margin: 0 0 8px 0;
  font-size: 17px;
  font-size: 1.0625rem;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 769px) {
  .section-subtitle {
    margin: 0 0 13px 0;
  }
}
@media (max-width: 500px) {
  .section-subtitle {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media (max-width: 380px) {
  .section-subtitle {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 769px) {
  #contact, #jobs {
    text-align: center;
  }
}
#contact .section-subtitle {
  margin: 22px 0;
}
#contact {
    margin-bottom: 40px;
}

#jobs .section-subtitle {
  margin: 22px 0;
}
@media screen and (max-width: 769px) {
  #contact .section-subtitle {
    margin-bottom: 21px;
  }
}
@media (max-width: 380px) {
  #contact .section-subtitle {
    margin-bottom: 16px;
  }
}
#hero-container {
  position: relative;
}
#hero-container img {
  position: absolute;
  width: 1000px !important;
  height: auto !important;
  bottom: -205px;
  left: 50%;
  -webkit-transform: translateX(-61%);
  -ms-transform: translateX(-61%);
  transform: translateX(-61%);
}


figure {
    width: 100%;
    max-width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 999;
    opacity: .7;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: rgba(255,255,255,.2);*/

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    transition: .1s;
    overflow: hidden;
}

#skeleton-container .open {
    clip-path: polygon(0 calc(100% - 350px), 100% calc(100% - 350px), 100% 100%, 0% 100%) !important;
}

.skeleton {
    width:  950px !important;
    position: relative;
    height: auto !important;
    opacity: 1;
    transition: 1s;
}

.skeleton.open {
    height: auto !important;
}

@media screen and (max-width: 1440px) {
    .skeleton {
        right: 0px;
        top: -10px;
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }
}
@media screen and (max-width: 769px) {
    .skeleton {
        width: 800px !important;
        height: 645px !important;
        right: 0;
        top: auto;
        bottom: -30px;
    }
}
@media (max-width: 800px) {
    figure {
        display: none;
    }
}

.skeleton.open {
    opacity: 1;
}


@media screen and (max-width: 769px) {
  #hero-container img {
    -webkit-transform: translateX(-62%);
    -ms-transform: translateX(-62%);
    transform: translateX(-62%);
  }
}
@media (max-width: 530px) {
  #hero-container img {
    bottom: -120px;
    width: 800px !important;
  }
}
@media (max-width: 380px) {
  #hero-container img {
    bottom: -140px;
    -webkit-transform: translateX(-65.5%);
    -ms-transform: translateX(-65.5%);
    transform: translateX(-65.5%);
  }
}
#animation_container {
  position: absolute;
  margin: auto;
  left: auto;
  bottom: 0;
  right: 0;
  top: 0;
}
#animation_container canvas {
  position: absolute;
  display: block;
}
#animation_container #dom_overlay_container {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  display: block;
}
#animation_container,
#animation_container #dom_overlay_container,
#animation_container canvas {
  width: 906px !important;
  height: 805px !important;
  right: 50px;
  top: -20px;
}
@media screen and (max-width: 1440px) {
  #animation_container,
  #animation_container #dom_overlay_container,
  #animation_container canvas {
    right: 0px;
    top: -10px;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
}
@media screen and (max-width: 769px) {
  #animation_container,
  #animation_container #dom_overlay_container,
  #animation_container canvas {
    width: 800px !important;
    height: 645px !important;
    right: 0;
    top: auto;
    bottom: -30px;
  }
}
@media (max-width: 500px) {
  #animation_container,
  #animation_container #dom_overlay_container,
  #animation_container canvas {
    left: 50%;
    -webkit-transform: translateX(-57%);
    -ms-transform: translateX(-57%);
    transform: translateX(-57%);
  }
}
#nav {
  background: none;
  z-index: 5;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
}
.footer {
  z-index: 1;
  margin-top: -60px;
  overflow: hidden;
  height: 245px;
}
@media (max-width: 768px) {
    .footer {
        margin-top: 0px;
        overflow: hidden !important;
    }
    @media not all and (min-resolution:.001dpcm) { @media {

        .footer {
            margin-top: 20px;
        }
    }}
}
@media (min-width: 769px) {
  .footer {
    display: none;
  }
}
.footer-misc {
  width: 700px;
  height: 345px;
  -webkit-transform: translateY(0px) translateX(-220px);
  -ms-transform: translateY(0px) translateX(-220px);
  transform: translateY(0px) translateX(-220px);
}
@media (min-width: 530px) {
  .footer-misc {
    display: none;
  }
}
.owl-carousel {
  position: relative;
  overflow: hidden;
}
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  color: black;
  opacity: 0;
  padding: 5px 10px;
  font-size: 30px;
  background: white;
}
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 35px);
  left: -30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 769px) {
  .owl-carousel .owl-nav .owl-prev {
    left: 0;
  }
}
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -30px;
  top: calc(50% - 35px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 769px) {
  .owl-carousel .owl-nav .owl-next {
    right: 0;
  }
}
.owl-carousel:hover .owl-nav .owl-next,
.owl-carousel:hover .owl-nav .owl-prev {
  opacity: 1;
}
.owl-carousel:hover .owl-nav .owl-next {
  right: 0px;
}
.owl-carousel:hover .owl-nav .owl-prev {
  left: 0px;
}
.owl-carousel .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  width: 100%;
  bottom: 20px;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
  background: black;
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: black;
}
::-webkit-scrollbar-track {
  background: gray;
}
body {
  scrollbar-face-color: black;
  scrollbar-track-color: gray;
}

#social {
  margin-top: 28px;
  text-align: center;
}

#social img {
  height: 17px;
}

#social .social-github img {
  height: 19px;
  margin: 0 15px;
}

#social ul {
  margin: 0;
  padding: 0;
}

#social li {
  display: inline-block;
}

@media (min-width: 770px) {
  #social {
    text-align: left;
  }
}

#jobs > div {
  margin-bottom: 40px;
}

h4 {
  font-weight: 400;
}

#float-modal {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: 1s;
    transform: translateY(100%) translateY(-131px);
}
#float-modal.open {
    transform: translateY(0);
}
@media (max-width: 769px) {
    .body-container {
        overflow: hidden;
        position: relative;
    }
    #float-modal {
        position: absolute;
        transform: translateY(85%) translateY(-130px);
        top: auto;
        bottom: 0;
    }
    #float-modal.open {
        transform: none;
        transform: translateY(0%) translateY(0px);
    }
}
.float-modal-img {
    position: fixed;
    right: 80px;
    bottom: -67px;
    z-index: 11;
    transition: 1s;
    display: inline-block;
}
.float-modal-img img:nth-child(2) {
    position: relative;
    top: 1px;
    transition: 1s;
    margin-left: 6px;
}
@media (max-width: 769px) {
    .sm-block {
        width: 100%;
    }
    .float-modal-img {
        position: absolute;
        bottom: -54px;
        right: auto;
        left: auto;
        max-width: 120px;
        width: 100%;
        left: calc(50% - 6px);
        transform: translateX(-50%);
        right: auto;
        display: flex;
    }
    @media not all and (min-resolution:.001dpcm) { @media {
        .float-modal-img {
            bottom: -70px;
        }
    }}
    .float-modal-img img {
        width: 50%;
    }
}
#float-modal.open + .float-modal-img {
    bottom: 0;
}
#float-modal.open + .float-modal-img img:nth-child(2) {
    top: 0;
}
.float-modal-header .col-sm-6, .float-modal-body, .float-modal-header .col-sm-6:before {
    background-color: #100D20;
}
.float-modal-header .col-sm-6 {
    position: relative;
    padding-top: 30px;
}
@media (max-width: 769px) {
    .float-modal-header .col-sm-6{
        width: calc(100% - 80px);
        margin: 0 0 0 auto !important;
        float: right;
    }
}
.float-modal-header .col-sm-6:before {
    position: absolute;
    content: "";
    height: 100%;
    right: -100%;
    top: 0;
    width: 100%;
}
.float-modal-title {
    margin: 0;
    color: #F9C738;
}
@media (max-width: 440px) {
    .float-modal-title {
        text-align: left;
        position: relative;
    }
}
#float-modal-button {
    background-color: transparent;
    border: none;
    outline: none !important;
    margin: 0;
    padding: 0;
    position: relative;
    left: -37px;
}
#float-modal-button span {
    top: 7px;
    position: relative;
}
@media (max-width: 769px) {
    #float-modal-button {
        left: calc(50% - 55px);
        transform: translateX(-50%);
    }
    @media not all and (min-resolution:.001dpcm) { @media {

        #float-modal-button {
            left: 15px;
        }
    }}
}
@media (max-width: 769px) {
    @media not all and (min-resolution:.001dpcm) { @media {
        #float-modal-button {
            left: calc(50% - 55px);
        }
    }}
}
#float-modal-button > img {
    width: 137px;
}
#float-modal-button span > img {
    width: 24px;
    transition: 0.3s;
    transform: rotate(180deg);
}
.open #float-modal-button span > img {
    transform: rotate(360deg);
}
.float-modal-title:before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    top: 0;
    left: -100px;
    border: 50px solid transparent;
    border-bottom-color: #100D20;
    border-right-color: #100D20;
}
@media (max-width: 769px) {
    .float-modal-title:before {
        top: -7px;
    }
}
@media (max-width: 440px) {
    .float-modal-title:before {
        top: -62px;
        border-width: 80px;
        left: -160px;
    }
}
.float-modal-hero {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 247px;
    position: relative;
}
.float-modal-hero img {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-57%) translateX(-50%);
    opacity: 0.5;
}
@keyframe in {
    from: opacity: 0;
    to: opacity: 1;
}

@keyframe out {
    from: opacity: 1;
    to: opacity: 0;
}
.overflow-lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/hero-lines.svg');
    background-repeat: no-repeat;
    background-position: -10% 110%;
    background-size: 1007px;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transition-duration: 0.3s;
    transition-delay: 0.7s;
}
@media (max-width: 1355px) {
    .overflow-lines {
        background-size: 910px;
        background-position: -72% 96%;
    }
}
.open .overflow-lines {
    opacity: 0;
}
.open .overflow-lines.in {
    animation-name: in;
    animation-duration:0.7s;
}
.overflow-lines.out {
    animation-name: out;
    animation-duration:0.1s;
}
.float-modal-body {
    height: 350px;
    overflow: hidden;
    position: relative;
    z-index: 11;
}
.float-modal-body .loat-modal-button {
    z-index: 9;
}
@media (max-width: 1355px) {
    .float-modal-body{
        padding-bottom: 55px;
    }
}
@media (max-width: 769px) {
    .float-modal-body{
        height: auto;
        padding-bottom: 165px;
        text-align: center;
    }
    .float-modal-body p, .float-modal-body .button-primary {
        opacity: 0;
    }
    .open .float-modal-body p, .open .float-modal-body .button-primary {
        opacity: 1;
    }
    @media not all and (min-resolution:.001dpcm) { @media {

         .float-modal-body{
            padding-bottom: 180px;
        }

    }}
}
.float-modal-body p {
    position: relative;
    top: 60px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    max-width: 480px;
    margin: 32px 0 70px 0;
    transition-delay: 0.3s;
    transition-duration: 0.8s;
}
@media (max-width: 769px) {
    .float-modal-body p {
        top: 80px;
        font-size: 14px;
        max-width: 315px;
        margin-bottom: 65px;
        margin-left: auto;
        margin-right: auto;
    }
}
.open .float-modal-body p {
    top: 0;
}
.button-primary {
    background-color: #F9C738;
    border-radius: 5px;
    padding: 15px 20px;
    display: inline-block;
    position: relative;
    top: 60px;
    opacity: 1;
    transition: all 0.8s 0.5s, opacity 0.3s 0s;
}
.button-primary:hover {
    opacity: .8;
}
.button-primary img {
    width: 90px;
}
@media (max-width: 769px) {
    .button-primary {
        margin-left: auto;
        margin-right: auto;
    }
}
.open .button-primary {
    top: 0;
}
#text-transition {
    opacity: 1;
    transition: 1s;
}
#text-transition.open {
    opacity: 0;
}

@media (min-width: 1025px) {
    .container {
        left: auto;
        right: -40px;
        position: relative;
    }
}
